/* font w -400 -500 -700*/

.footer{
    background-color: #ffd55a;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 2rem;
}

.footer__nav{
    list-style-type: none;
    margin-right: 4rem;
}