.image{
    object-fit: cover;
    width: 800px;
    max-height: 600px;
}

.modal{
    background: rgba(0, 0, 0, 0.329);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modal__body{
    display: flex;
    align-items: center;
    position: relative;
}

.card{
    max-width: 800px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    cursor: initial;
}

.card__info{
    background-color: white;
    color:black;
}

.arrow{
    position: absolute;
    cursor: pointer;
}

.arrow__left{
    left: -90px;
}

.arrow__right{
    right: -90px;
}

.deleteButton{
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: -50px;
    padding: 0.2rem;
    border: 0.5rem solid transparent;
    transition: border 0.2s;
    background-color: rgb(212, 17, 17);
}

.deleteButton:hover{
    border: 0.5rem solid rgb(212, 17, 17);
}

.image{
    object-fit: cover;
    width: 800px;
    max-height: 600px;
}



.noselect{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
}
